.third-left{
    background-image: url("../../images/home/ONE.jpg");
    background-color: #fbfbfb;
    background-position:bottom;
    background-size: 350px 200px;
    text-align: center;
    color: black;
    padding-top: 40px;
    
}

.third-right{
   background-image: url("../../images/home/promo_tile__ivhgndrnkuye_small.jpg");
    background-position:bottom;
    background-size: cover;
    text-align: center;
    color:#fbfbfb;
    padding-top: 40px;
    
}
.conversation img{
    width: 150px;
}
.links3{
padding-top: 260px;
}
.links3 a{
     color: #fbfbfb;
     font-weight: 600;
     text-decoration: none;
}
.links3 a:last-child::after{
    font-family: "FontAwesome";
    content: "\f144";
}


