/*First Section*/
.first-section{
    background-image: url("../../images/home/iphone_12_small.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    text-align: center;
    height: 419px;
    
    background-color: #fbfbfd;
    padding-top: 30px;
    margin-bottom: 10px;
}
.product-title{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.discription{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.05em;
    line-height: 1em;
    padding: 10px 0;
    word-wrap:inherit;  
}
.price{
    color: #86868b;
    font-size: 12px;
    letter-spacing: -0.05em;
    padding-bottom: 8px;
    word-wrap:inherit;  
}
.links a{
    color: #06c;
    text-decoration: none;
    font-weight: 550;
}
.links a:hover{
    text-decoration: underline;
}
.links a::after{
    font-family: "FontAwesome";
    content: "\f105";
}



@media (min-width: 700px) {
    .first-section {
		background-image: url("../../images/home/iphone_12.jpg");
        background-position: top;
        background-size: cover;
		min-height: 500px;
	}	
	.ipod-caption {
	  padding-top: 415px;
	}
}
@media(min-width: 992px) {

	.first-section {
		background-image: url("../../images/home/iphone_12large.jpg");

    background-position:bottom;
        background-size: 450px auto;
	}	
}